@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');
.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
}
::-webkit-scrollbar {
  width: 9px;
}
::-webkit-scrollbar-track {
  border-radius: 15px;
} 
::-webkit-scrollbar-thumb {
  background: cyan; 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: hsl(180, 66%, 49%); 
}
button.btn-color {
 background-color: hsl(180, 66%, 49%) !important;
 border-color: hsl(180, 66%, 49%) !important;
 color: white !important;
}
button.copied {
  background-color: hsl(257, 27%, 26%) !important;
  border-color: hsl(257, 27%, 26%) !important;
}
.shorty-logo {
  width: 120px;
}
.nav-container {
  margin-left: 2em !important;
  margin-top: -30px;
}
.nav-color {
  color: hsl(0, 0%, 75%);
}
.illustration-container {
  overflow: hidden;
}
.illustration-img {
  width: 42em;
}
.spacing {
  column-gap: 7em;
}
.about-text {
  font-size: 4.1em;
  font-weight: 700;
}
.about-para {
  max-width: 25em;
}
.fw-700 {
  font-weight: 700;
}
.fw-500 {
  font-weight: 500;
} 
.content {
  background-color: hsl(0, 0%, 88%);
}
.form-section {
  position: relative;
  bottom: 5em;
}
.form-container {
  max-width: 75%;
  background-image: url(./images/bg-shorten-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: hsl(257, 27%, 26%);
  margin-top: 9em;
  border-radius: 15px;
}
.form-box .form-text {
  width: 90%;
}
.shortcode {
  max-width: 75%;
}
.shortcode-container {
  overflow: hidden;
}
.stat-card {
  max-width: 20em;
}
.stat-div-container {
  width: 70px;
  height: 70px;
  background-color: hsl(257, 27%, 26%);
  position: relative;
  bottom: 2.5em;
  left: 20px;
}
.stat-card-body {
  margin-top: -2em;
}
.stat-line {
  width: 1.7em;
  height: 8px;
  background-color: hsl(180, 66%, 49%);
  border-color: hsl(180, 66%, 49%);
  position: relative !important;
  top: 8.5em !important;
}
.last-stat-card {
  margin-top: 5em;
}
.boost {
  background-color: hsl(257, 27%, 26%);
  background-image: url(./images/bg-boost-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.logo-white {
  filter: brightness(0) invert(1);
}
.footer-bg-color {
  background-color: hsl(260, 8%, 14%) !important;
}
.footer-text {
  color: hsl(0, 0%, 75%);
}
.footer-text-hover :hover {
  color: hsl(180, 66%, 49%) !important;
  font-size: 20px;
}
.icon :hover {
  filter: invert(47%) sepia(51%) saturate(2878%) hue-rotate(143deg) brightness(100%) contrast(97%);
  cursor: pointer;
}
@media(max-width: 1366px) {
  .spacing {
    column-gap: 11em;
  }
}
@media (max-width: 1024px) {
  .spacing {
    column-gap: 4.5%;
  }
  .about-text {
    font-size: 3em;
  }
}
@media (max-width: 990px) {
  .nav-container {
    margin-top: 20px;
    margin-left: 0;
  }
  .bg-nav {
    background-color: hsl(257, 27%, 26%);
    text-align: center;
    border-radius: 7px;
    margin-top: 30px;
    margin-bottom: 1em;
  }
  .nav-color {
    color: white !important;
  }
  .stat-div-container {
    left: 39%;
  }
  .stat-line {
    width: 7px;
    height: 70px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    top: 0 !important;
  }
  .last-stat-card {
    margin-top: 0;
  }
}
@media(max-width: 768px){
  .about-text {
    font-size: 3.5em;
  }
  .illustration-container {
    left: 0;
  }
  .illustration-img {
    width: 30em;
  }
  .boost {
    background-image: url(./images/bg-boost-mobile.svg);;
  }
  .icon {
    width: 40px;
  }
}
@media(max-width: 767px){
  .about-text-container {
    text-align: center;
  }
  .about-para {
    margin: auto;
  }
  .about-text {
    font-size: 2.5em;
  } 
  .illustration-img {
    width: 100%;
  }
  .shortcode-container {
    border-bottom: solid 1px rgb(230, 222, 222);
    padding-bottom: 5px;
  }
  .footer-container {
    justify-content: center;
    margin: auto;
    align-items: center;
    text-align: center;
  }
  .icon {
    justify-content: center;
    margin: auto;
  }
  .footer-space {
    margin-bottom: 4em;
  }
  .footer-space1 {
    padding-bottom: 2em;
  }
} 
@media (max-width: 425px) {
  .toggle {
    margin-right: 2em;
  }
  .bg-nav {
    margin-right: 2em;
  }
}
@media(max-width: 330px) {
  .stat-card {
    max-width: 17em;
  }
}